extends layout

block centerBlock
	div.results-list
		h1 Search Results
		-if (search.results.length <1 ){
			//-do something
			h3 No results found
		-}else		
			ul
				each user, i in search.results
					li.book-box
						.row
							.col-xs-8.col-md-10
								p.book-title #{user.obj.Name} 
							.col-md-2
								.book-price-down
									p #{user.obj.Price} $
						.row
							.col-sm-9
								p.book-author Author: #{user.obj.Author}
								p.book-isbn ISBN: #{user.obj.ISBN}
								p.book-isbn Condition: #{user.obj.Condition}
							.col-sm-3
								a(href="/book/buy/" + user.obj._id )
									.book-buy
										p BUY
						

	//Adding the css
	link(type='text/css', rel='stylesheet', href='stylesheets/results.css')
